$lightcolor : white;
$maincolor :rgb(108,99, 255);
$boxShadow : 10px 10px 10px 5px rgba(187,187,189,0.87);


@mixin flex-directionRow {
    display: flex;
    flex-direction: row;
}
@mixin flex-directionColumn {
    display: flex;
    flex-direction: column;
}
table {
	border-collapse: collapse;
	text-align: left;
	width: 90%;
	background-color: $lightcolor ;
/* 	box-shadow: $boxShadow;
 */	border: none;
	border-collapse: collapse;
	width: 100%;
	td {
		border-left: 1px solid #999;
		border-right: 1px solid #999;
		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;
		}
	}
}
tr {
	border-bottom: 1px solid #cbcbcb;
}
th {
	border: none;
	height: 30px;
	padding: 2px;
}
td {
	border: none;
	height: 30px;
	padding: 2px;
	a {
		color: blue;
	}
}
thead {
	background-color: $maincolor;
	color: $lightcolor ;
}
#adminform {
	margin: 10px;
	margin-bottom: 20px;
	width: 50%;
	padding: 20px;
	background-color: $lightcolor ;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 5px rgba(187,187,189,0.87);
}
.input-group {
	margin: 15px;
	label {
		display: block;
		text-align: left;
		margin: 3px;
	}
	input {
		height: 30px;
		width: 93%;
		padding: 5px 10px;
		font-size: 16px;
		border-radius: 5px;
		border: 1px solid gray;
	}
	#selectA{
		height: 30px;
		width: 50%;
		font-size: 16px;
		border-radius: 5px;
		border: 1px solid gray;
	}
}
.meessagesTitle {
	background-color: $lightcolor ;
	box-shadow: $boxShadow;
	width: 300px;
	height: 60px;
	text-align: center;
	margin: 20px auto;
	border-radius: 10px;
	padding-bottom: 6px;
}
.messagesCards {
	@include flex-directionRow ();
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.cards {
	width: 300px;
	height: auto;
	margin: 20px;
	border-radius: 10px;
	background-color: $lightcolor ;
	padding: 6px;
	box-shadow: $boxShadow;
	.name {
		color: $maincolor;
		font-size: 19px;
        font-weight: bold;
		margin-bottom: 10px;
	}
	.date {
		color: $maincolor;
		margin: 5px;
	}
	.phone{
		color: grey;
		margin-bottom: 3px;
	}
}
.btn {
	padding: 10px;
	font-size: 15px;
	width: 100px;
	margin-top: 10px;
	color: $lightcolor ;
	background: $maincolor;
	border: none;
	border-radius: 5px;
}
.aze {
	width: 100%;
	@include flex-directionRow();
}

.del_message {
	position: relative;

}
.isma{
	display: flex ;
	flex-direction: row;
	justify-content: space-between;
}
.msg {
	padding: 10px;
	border-radius: 5px;
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	width: 50%;
	text-align: center;
}
.containerDash {
	width: 100%;
	 @include flex-directionRow();
}
.sidebar {
	background-color: $maincolor;
	width: 15%;
	overflow: hidden;
	ul {
		text-decoration: none;
		list-style: none;
		text-align: center;
		position: relative;
		right: 25px;
		color: $lightcolor ;
		li {
			button {
				&:hover {
					background-color: $lightcolor ;
					color: black;
				}
				text-decoration: none;
				width: 233px;
				height: 70px;
				position: relative;
				right: 20px;
				border: 0;
				color: white;
				font-size: 16px;
				background-color: $maincolor;
			}
			img {
				width: 30px;
				height: auto;
				position: relative;
				top: 15px;
				margin-right: 10px;
			}
			a {
				text-decoration: none;
			}
		}
	}
}
.tablewrapper {
	overflow: scroll;
	margin: 10px;
	height: 250px;
	width: 100%;
	margin: 10px;
}
.radio {
	@include flex-directionRow();
	margin-top: 20px;
	.radiobutton {
		width: 25px;
		margin-left: 20px;
		margin-right: 20px;
		position: relative;
		top: 10px;
	}
}
.maincontent {
	@include flex-directionColumn();
	width: 85%;
}
.adminDashtitle {
	width: 100%;
	height: 70px;
	background-color: $lightcolor ;
	margin-bottom: 20px;
	box-shadow: $boxShadow;
	h1 {
		color: $maincolor;
		text-align: center;
	}
}
.tables {
	background-color: $lightcolor ;
	border-radius: 10px;
	box-shadow: $boxShadow;
	margin: 10px;
	margin-left: 10px;
	padding: 10px;
}
@media screen and (max-width : 768px){
    #show{
        display: none;
    }
	.containerDash {
		@include flex-directionColumn();
	}
	.maincontent {
		width: 100%;
	}
	.tablewrapper {
		overflow: scroll;
		margin: 0px;
		margin-top: 10px;
		height: 250px;
		width: 100%;
	}
	table {
		width: 100%;
	}
	.sidebar {
		width: 100%;
		ul {
			li {
				button {
					text-decoration: none;
					width: 400px;
					height: 70px;
				}
			}
		}
	}
	.titles {
		color: $maincolor;
	}
	.aze {
		margin: 0px;
		width: 100%;
		@include flex-directionColumn();
	}
	#adminform {
        border : 0;
		margin-left: 0;
		width: 88%;
	}
	.tables {
		margin: 0 auto;
		width: 92%;
	}
	#classes{
		position: relative;
		margin: 20px;
		left: 20px;
		bottom: 180px;
	}
}
