table{
    border-collapse: collapse;
    text-align: left;
    width: 90%;
    background-color: white;
    box-shadow: 10px 10px 10px 5px rgba(187,187,189,0.87);
}
tr {
    border-bottom: 1px solid #cbcbcb;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}
thead{
    background-color: rgb(108,99, 255);
    color: white;
}
td a {
    color: blue;
}
form{
    margin: 10px;
    margin-bottom: 20px;
    width: 50%;
    padding: 20px; 
    background-color: white;
    border: 1px solid #bbbbbb; 
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px rgba(187,187,189,0.87);
}
.input-group {
    
    margin: 15px;
}
.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.meessagesTitle{
    background-color: white;
    box-shadow: 10px 10px 10px 5px rgba(187,187,189,0.87);
    width: 300px;
    height: 60px;
    text-align: center;
    margin :20px auto;
    border-radius: 10px;
    padding-bottom: 6px;
}
.messagesCards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cards{
    width: 300px;
    height: auto    ;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    padding: 6px;
    box-shadow: 10px 10px 10px 5px rgba(187,187,189,0.87);
}

.cards .name{
    color:rgb(108,99, 255);
    font-size: 19px;
    margin-bottom: 10px;
}
.cards .date{
    color: rgb(108,99, 255);
    margin : 5px
}
.btn {
    padding: 10px;
    font-size: 15px;
    width: 100px;
    margin-top: 20px;
    color: white;
    background: rgb(108,99, 255);
    border: none;
    border-radius: 5px;
}
.aze{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: #2E8B57;
    color: white;
    border-radius: 3px;
}
.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background: #800000;
}
.del_message{
    position : relative;
    bottom: 3px;
    left: 230px;
} 
.msg {
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}
table {
    border:none;
    border-collapse: collapse;
    width: 100%;
}

table td {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}
.containerDash{
    width: 100%;
    display: flex;
    flex-direction : row;
}
.sidebar{
    background-color: rgb(108,99, 255);
    width: 15%;
    overflow: hidden;
}
.tablewrapper{
    overflow: scroll;
    margin: 10px;
    height: 250px;
    width: 100%;
    margin : 10px;
}
.sidebar ul {
	text-decoration : none;
	list-style : none;
	text-align : center;
	position : relative;
	right : 25px;
	color :white;

}
.sidebar ul li button:hover{
    background-color: white;
    color: black;
   
}
.radio{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.radio .radiobutton{
    width: 25px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}
.sidebar ul li button{
    text-decoration: none;
    width: 233px;
    height: 70px;
    position: relative;
    right: 20px;
    border: 0;
    color: white;
    font-size: 16px;
  background-color:rgb(108,99, 255);
    
}
.maincontent{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.adminDashtitle{
    width: 100%;
    height: 70px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 5px rgba(187,187,189,0.87);


}
.adminDashtitle h1{
    color: rgb(108,99, 255);
    text-align: center;
}
.tables{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px rgba(187,187,189,0.87);
    margin :10px;
    margin-left: 50px;
    padding : 10px;
}
.sidebar ul li img{
    width: 30px;
    height: auto;
    position: relative;
    top: 15px;
    margin-right: 10px;
}
.sidebar ul li a{
    text-decoration: none;
    
}
@media screen and (max-width : 768px){
    .containerDash{
        display: flex;
        flex-direction : column;
    }
    .maincontent{
        width: 100%;
    }
    .tablewrapper{
        overflow: scroll;
        margin: 0px;
        margin-top: 10px;
        height: 250px;
        width: 100%; 
    }
    table{
         width: 100%;
    }
    .sidebar {
        width: 100%;
    }
    .sidebar ul li button{
        text-decoration: none;
        width: 400px;
        height: 70px;
    }
    .titles{
        color: rgb(108,99, 255);
    }
    .aze{
        margin: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    form{
        margin-left :0;
        
        width: 88%;
    }
    .tables{    
        margin :0 auto;    
        width: 92%;
    }
}